<html>
  <body>
    <h1>Controle de umidade</h1>
    <h2>
      Insira um nome para usuário e uma senha em seguida
    </h2>
    <form #cadastro="ngForm" (submit)="onSubmit()">
      <div>
          <label for="username">Nome</label>
          <input type="string" id='username' name="username"
           required minlength="1"
           [(ngModel)] = "signup.username"
           >
      </div>
      <div>
        <label for="password">Senha</label>
        <input type="password" id='password' name="password"
         required minlength="1"
         [(ngModel)] = "signup.password"
         >
    </div>
      <button type="submit" [disabled]="!cadastro.valid">Enviar</button>
  </form>

  </body>
</html>
