<h2>Cadastro de registros</h2>

<form #cadastro="ngForm" (submit)="onSubmit()">
    <div class="form-group" hidden="true">
        <input type="text" hidden="true" class="form-control" id="sensor" [(ngModel)]="registro.sensor" name="sensor"/>
    </div>
    <div>
        <label for="valorLeitura">Valor da leitura</label>
        <input type="number" id='valorLeitura' name="valorLeitura"
         required min="1"
         [(ngModel)] = "registro.valorLeitura"
         >
    </div>
    <button type="submit" [disabled]="!cadastro.valid">Enviar</button>
</form>

{{registroString}}

<button onclick="window.location.href = 'http://localhost:4200/listar';">Voltar para lista de sensores</button>
